<!DOCTYPE html>
<html>
<head>
  <title>Add Member</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Add Member to Club</h1>
  <form method="POST" action="/addMember">
    <label>User ID: <input type="text" name="userID" required></label><br>
    <label>Club ID: <input type="text" name="clubID" required></label><br>
    <button type="submit">Add Member</button>
  </form>
</body>
</html>
