<!DOCTYPE html>
<html>
<head>
  <title>Remove Member</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Remove Member from Club</h1>
  <form method="POST" action="/removeMember">
    <label>User ID: <input type="text" name="userID" required></label><br>
    <label>Club ID: <input type="text" name="clubID" required></label><br>
    <button type="submit">Remove Member</button>
  </form>
</body>
</html>
